<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Speech To Text</title>
  </head>
  <body>
    <section class="landing-page">
      <section class="main-nav">
        <nav>
          <ul>
            <h1>TIP Project-Speech To Text</h1>
          </ul>
        </nav>
      </section>
      <div class="flex-both-sides">
        <form
          action="/upload"
          method="post"
          enctype="multipart/form-data"
          class="main-content"
        >
          <label>Choose an audio file</label>
          <input
            type="file"
            name="upload"
            capture="user"
            accept="audio/*"
            title="Please choose a file"
            style="color: transparent;"
            onchange="this.style.color = 'black'"
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
    <div class="h1-main">
      <h1 class="ha">Result</h1>
    </div>
    <section class="result">
      <div class="result-box">
        <div class="box">
          <h3>
            <%= confidence %>
          </h3>
          <p><%= transcript %></p>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
